<section class="contact container">
  <header class="contact__header">
    <h3 class="contact__subtitle">Contáctame</h3>
    <h2 class="contact__title">Te ayudo a superar tu limite en belleza</h2>
    <p class="contact__description">Estamos aquí para resolver tus dudas.</p>
  </header>

  <section class="contact__content">
    <div class="contact__info">
      <article class="contact__item">
        <fa-icon
          class="contact__icon contact__icon--email"
          [icon]="faEnvelope"
        ></fa-icon>
        <div>
          <h3 class="contact__item-title">Correo</h3>
          <p class="contact__item-description">Escribeme a</p>
          <a
            class="contact__item-link"
            href="mailto:nicolrodrigueznails@gmail.com"
            >nicolrodrigueznails{{ "@" }}gmail.com</a
          >
        </div>
      </article>

      <article class="contact__item">
        <fa-icon
          class="contact__icon contact__icon--phone"
          [icon]="faPhone"
        ></fa-icon>
        <div>
          <h3 class="contact__item-title">Teléfono</h3>
          <p class="contact__item-description">Llama o escribe al Whatsapp</p>
          <a class="contact__item-link" href="https://wa.me/573003762773"
            >+57 300 376 2773</a
          >
        </div>
      </article>

      <article class="contact__item">
        <fa-icon
          class="contact__icon contact__icon--location"
          [icon]="faMapMarked"
        ></fa-icon>
        <div>
          <h3 class="contact__item-title">Salón de Uñas</h3>
          <p class="contact__item-description">Puedes ubicarme en el</p>
          <p class="contact__item-description">Bloque 319 Apartamento 402</p>
          <p class="contact__item-description">Alcazares, Cali.</p>
          <a
            class="contact__item-link"
            href="https://maps.app.goo.gl/moi3i3HETYvsPhBD9"
            target="_blank"
            rel="noopener noreferrer"
          >
            Cra. 1A #70a 152
            <i class="fas fa-chevron-right" aria-hidden="true"></i>
          </a>
        </div>
      </article>
    </div>

    <div class="contact__map">
      <figure>
        <a
          class="contact__item-link"
          href="https://maps.app.goo.gl/moi3i3HETYvsPhBD9"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            src="../../../assets/img/mapa.webp"
            alt="Mapa de ubicación de la oficina"
            class="contact__map-image"
            width="600"
            height="400"
            loading="lazy"
          />
        </a>

        <figcaption class="contact__map-caption">
          Mapa de ubicación de la oficina
        </figcaption>
      </figure>
    </div>
  </section>
</section>
