section.container {
  padding: 0;
}

.formulario {
  width: 100%;
  margin: auto;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 2.5rem;
}

label {
  margin-top: 1rem;
  display: block;
}

input,
select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input.input-valid,
select.input-valid {
  border-color: var(--primary-color);
}

input:focus,
select:focus,
input:focus-visible,
select:focus-visible {
  border-color: var(--primary-color-opacity);
}

input:invalid,
select:invalid,
input.input-invalid,
select.input-invalid {
  border-color: red;
}

button {
  margin-top: 1.5rem;
  padding: 0.75rem;
  background: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background: gray;
}

.error {
  color: red;
}

.info {
  margin-top: 1rem;
  font-weight: bold;
}
