<footer class="footer container">
  <section class="footer__container">
    <a href="/" aria-label="Inicio" class="footer__logo">
      <img
        src="../../../assets/img/logoNicolNails.webp"
        alt="Logo de la empresa"
        class="footer__logo-img"
      />
    </a>

    <nav aria-label="Menú principal" class="footer__nav">
      <ul class="footer__menu">
        <li class="footer__menu-item">
          <a href="#" class="footer__menu-link">Contacto Rápido</a>
        </li>
        <li class="footer__menu-item">
          <a href="#" class="footer__menu-link">Nuestros Servicios</a>
        </li>
        <li class="footer__menu-item">
          <a href="#" class="footer__menu-link">Proyectos Destacados</a>
        </li>
        <li class="footer__menu-item">
          <a href="#" class="footer__menu-link">Sobre Nosotros</a>
        </li>
        <li class="footer__menu-item">
          <a href="#" class="footer__menu-link">Testimonios Clientes</a>
        </li>
      </ul>
    </nav>

    <ul class="footer__social" aria-label="Redes sociales">
      <li class="footer__social-item">
        <a href="#" class="footer__social-link">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
      </li>
      <li class="footer__social-item">
        <a href="#" class="footer__social-link">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
      </li>
      <li class="footer__social-item">
        <a href="#" class="footer__social-link">
          <fa-icon [icon]="faTikTok"></fa-icon>
        </a>
      </li>
    </ul>
  </section>

  <hr class="footer__divider" />

  <section class="footer__bottom">
    <small class="footer__copyright"
      >&copy; 2025
      <a href="http://jarg-dev.com" target="_blank" rel="noopener noreferrer"
        >JA__RG</a
      >. Todos los derechos reservados.</small
    >
    <nav aria-label="Enlaces legales" class="footer__legal-nav">
      <ul class="footer__legal-menu">
        <li class="footer__legal-item">
          <a href="#" class="footer__legal-link">Política de Privacidad</a>
        </li>
        <li class="footer__legal-item">
          <a href="#" class="footer__legal-link">Términos de Servicio</a>
        </li>
        <li class="footer__legal-item">
          <a href="#" class="footer__legal-link">Configuración de Cookies</a>
        </li>
      </ul>
    </nav>
  </section>
</footer>
