<section class="container" id="consulta">
  <section class="consulta">
    <div>
      <h3 class="consulta__titulo">¡Hablemos! Agenda tu Consulta Gratuita</h3>
      <p class="consulta__descripcion">
        Descubre cómo podemos mejorar tu imagen con nuestro diseño de uñas
      </p>
    </div>

    <nav class="consulta__navegacion">
      <button class="consulta__boton btn primary">
        Chatear <fa-icon [icon]="faComments"></fa-icon>
      </button>
      <button class="consulta__boton btn secondary">
        Agendar <fa-icon [icon]="faCalendarDays"></fa-icon>
      </button>
    </nav>
  </section>
</section>
