<button class="menu-btn mobile" id="menu-btn" (click)="toggleMenu()">
  <fa-icon [icon]="faBars"></fa-icon>
</button>

<a
  href="#main"
  class="scroll-to-top"
  [class.active]="isScrollActive"
  (click)="scrollToTop()"
>
  <fa-icon [icon]="faArrowUp"></fa-icon>
</a>
<!-- Header -->
<header class="header" [class.open]="isMenuOpen">
  <div class="container header-container">
    <!-- Navegación para Landing Page -->
    <nav *ngIf="isLandingPage" class="nav" style="justify-content: left">
      <a href="#coquette" (click)="closeMenu()">Coquette</a>
      <a href="#servicios" (click)="closeMenu()">Servicios</a>
      <a href="#consulta" (click)="closeMenu()">Contáctanos</a>
    </nav>

    <!-- Navegación para otras páginas -->
    <nav *ngIf="!isLandingPage" class="nav" style="justify-content: left">
      <a (click)="navigateToCliente()" style="cursor: pointer">Agendar Cita</a>
      <a
        *ngIf="hasCelular"
        (click)="navigateToMisCitas()"
        style="cursor: pointer"
        >Mis Citas</a
      >
      <a (click)="navigateToAdmin()" style="cursor: pointer">Admin</a>
    </nav>

    <!-- Logo -->
    <a (click)="navigateHome()" class="logo">
      <img
        src="../../../assets/img/logoNicolNails.webp"
        width="50"
        height="50"
        alt="Logo"
        loading="lazy"
      />
    </a>

    <!-- Contenedor de botones derecho -->
    <div class="menu-btn-container" style="justify-content: right">
      <!-- Para Landing Page: Solo botón Agendar -->
      <div *ngIf="isLandingPage">
        <button class="menu-btn" (click)="navigateToCliente()">Agendar</button>
      </div>

      <!-- Para otras páginas: Información del cliente -->
      <div *ngIf="!isLandingPage">
        <div *ngIf="hasCelular && !isAuthenticated" class="user-info">
          <span class="celular-display">{{ celular }}</span>
          <button
            (click)="clearCelular()"
            class="clear-btn"
            title="Cambiar número"
          >
            ×
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
