

.schedule__appointment {
  display: flex;
  align-items: center;
  gap: 2px;
}

.schedule__appointment-time {
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid var(--primary-color);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
}

.schedule__appointment-details.active {
  background: linear-gradient(
    to right,
    var(--primary-color-opacity),
    var(--primary-color)
  );
}

.schedule__appointment-details {
  background: linear-gradient(
    to right,
    var(--primary-color-opacity),
    #fff,
    #fff,
    #fff
  );
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 5px 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  cursor: pointer;
  color: var(--color-texto);
}

.schedule__appointment-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.schedule__appointment-title {
  font-weight: 600;
}
