<header class="schedule__header">
  <a aria-label="Go back" class="schedule__header-button" routerLink="/">
    <fa-icon [icon]="faArrowLeft"></fa-icon>
  </a>
  <h2 class="schedule__header-title">Agenda de <span>Citas de uñas</span></h2>
</header>

<fieldset class="form__group">
  <select
    name="mes"
    id="mes"
    class="schedule__select"
    [(ngModel)]="citasService.month"
    (change)="cambiarMes(citasService.month)"
  >
    <option *ngFor="let m of nombresMeses; let i = index" [value]="i">
      {{ m }}
    </option>
  </select>

  <button (click)="flexWrap = !flexWrap">Calendario</button>
</fieldset>

<nav class="schedule__nav">
  <ul
    [ngClass]="{
      mobile: publicService.isMobile,
      'schedule__nav-list': true,
      flexWrap: flexWrap
    }"
    *ngIf="fechasPorMes.length"
  >
    <li
      *ngFor="let fM of fechasPorMes; let i = index"
      [ngClass]="{
          'schedule__nav-item--active': selectedDay(i + 1),
          'schedule__nav-item': true,
          mobile: publicService.isMobile,
        }"
      (click)="citasService.getSelectDay(i + 1 < 10 ? '0' + (i + 1) : i + 1)"
    >
      <p class="schedule__nav-day">
        {{ fM.split(" ")[0] }}
      </p>
      <p class="schedule__nav-date">
        {{ citasService.formatNumber(numberF(fM.split(" ")[1])) }}
      </p>
    </li>
  </ul>
</nav>

<div class="schedule__divider"></div>

<app-item-list-cita class="schedule__appointments"></app-item-list-cita>
