<section class="container" id="coquette">
  <div class="text-content">
    <h4 class="subtitle">Coquette</h4>
    <h2 class="title">✨Diseño de Uñas Glamourosas y Sofisticadas✨</h2>
    <p class="description">
      Tus manos cuentan tu historia, y cada uña puede ser una obra de arte.
      Imagina lucir diseños de uñas, llenos de carisma y detalles que te hacen
      sentir especial con solo mirarlas. Desde acabados suaves hasta destellos
      elegantes.
    </p>
    <div class="features">
      <div class="feature">
        <h3>🌸Cuidado que se nota</h3>
        <p>
          Unas uñas bien cuidadas no solo lucen impecables, sino que reflejan
          amor propio y atención a los detalles.
        </p>
      </div>
    </div>
    <div class="buttons">
      <a class="btn btn-outline" href="#consulta">Descubre</a>
      <button class="btn btn-primary">
        Contacto directo <i class="fas fa-arrow-right"></i>
      </button>
    </div>
  </div>
  <div class="image-container">
    <img
      src="../../../assets/img/img11.jpg"
      alt="Placeholder image representing refrigeration systems"
    />
  </div>
</section>
